In [38]:
import pandas as pd

df_24 = pd.read_csv('../merge/merge_dataset_20241124.csv')

In [39]:
df_study = df_24[df_24['subject']=='공무원_교육학']
df_study[df_study['paragraph']!='\n']

Empty DataFrame
Columns: [id, paragraph, question, choices, answer, question_plus, subject, explain]
Index: []

In [40]:
df_eco = df_24[df_24['subject']=='공무원_경제학']
df_eco[df_eco['paragraph']!='\n']

Empty DataFrame
Columns: [id, paragraph, question, choices, answer, question_plus, subject, explain]
Index: []

In [41]:
df_25 = pd.read_csv('../merge/merge_dataset_20241125.csv')

In [42]:
df_social = df_25[df_25['subject']=='공무원_사회복지학']
df_social[~df_social['paragraph'].isna()]

Empty DataFrame
Columns: [id, paragraph, question, choices, answer, question_plus, subject, explain]
Index: []

In [43]:
df = pd.concat([df_24, df_social])

In [44]:
df.to_csv('merge_explain.csv')

In [35]:
df = df.drop(columns=['explain'])

In [37]:
df.to_csv('merge_no_explain.csv')